<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	    <meta charset="UTF-8"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <link th:href="@{/css/custom/commonComponent.css}" rel="stylesheet"></link>
	    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"></link>
	    <link th:href="@{/css/custom/worktable.css}" rel="stylesheet"></link>
	    <link th:href="@{/css/custom/flatpickr/flatpickr.min.css}" rel="stylesheet"></link>
	    <link th:href="@{/css/custom/flatpickr/airbnb.css}" rel="stylesheet"></link>
	    <script th:src="@{/js/flatPickr/flatpickr.js}" type="text/javascript"></script>
	    <script th:src="@{/js/flatPickr/ja.js}" type="text/javascript"></script>
	    <script th:src="@{/js/FrontEnd/custom/check.js}" type="text/javascript"></script>
   	    <script th:src="@{/js/FrontEnd/custom/arcRegist.js}" type="text/javascript"></script>
	    <title th:text="${title}"></title>
	</head>
	<body>
		<div th:replace="header::layout-header"></div>
	    <br/>
	    <div class="worktableAdd" th:if="${isExistData}">
	    	<form name="arcRegistTbl" method="POST" action="doArchivementRegist">
		        <div class="card cardBase text-center mx-auto">
		            <div class="card-header">
		                <span th:text="${title}"></span>
		            </div>
		            <div class="card-body">
		                <ul class="list-group list-group-flush">
		                    <li class="list-group-item">
		                        作業日
		                        <input type="text" id="workDay" name="targetDay" class="w-100" readonly="readonly" th:value="${date}"/>
		                        <script>
		                            flatpickr("#workDay", {locale:"ja"});
		                        </script>
		                    </li>
		                    <li class="list-group-item">
		                        作業内容
		                        <select id="workDetail" class="w-100" name="workId">
									<option th:each="wrkInfoList : ${workInfoList}" th:value="${wrkInfoList.getWorkId()}" th:text="${wrkInfoList.getWorkNm()}"></option>
		                        </select>
		                    </li>
		                    <li class="list-group-item">
		                        作業時間<br/>
		                        <select name="funcp">
		                        	<option value="0">0</option>
		                            <option value="0.5">0.5</option>
		                            <option value="1">1</option>
		                            <option value="1.5">1.5</option>
		                            <option value="2">2</option>
		                            <option value="2.5">2.5</option>
		                            <option value="3">3</option>
		                            <option value="3.5">3.5</option>
		                            <option value="4">4</option>
		                            <option value="4.5">4.5</option>
		                            <option value="5">5</option>
		                            <option value="5.5">5.5</option>
		                            <option value="6">6</option>
		                            <option value="6.5">6.5</option>
		                            <option value="7">7</option>
		                            <option value="7.5">7.5</option>
		                            <option value="8" selected="selected">8</option>
		                            <option value="8.5">8.5</option>
		                            <option value="9">9</option>
		                            <option value="9.5">9.5</option>
		                            <option value="10">10</option>
		                            <option value="10.5">10.5</option>
		                            <option value="11">11</option>
		                            <option value="11.5">11.5</option>
		                            <option value="12">12</option>
		                        </select>
		                    </li>
		                    <li class="list-group-item" th:if="!${isSpecial}">
		                        <input type="checkbox" name="isFinished" value="1"/> 完了
		                    </li>
		                    <li class="list-group-item">
		                        <input type="checkbox" name="isDelete" value="1"/> 削除
		                    </li>
		                </ul>
		            </div>
		            <div class="card-footer">
		                <div class="btnPlace">
		                    <a href="#" id="registButton" class="btn-flat-border" onClick="sendData()">登録</a>
		                </div>
		            </div>
		        </div>
	        </form>
	    </div>
	    <div class="container"  th:if="!${isExistData}">
	    	<p>登録可能な担当作業がありません。</p>
	    </div>
	</body>
</html>